.section_two_container {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100%;
}

.section_two_container::-webkit-scrollbar {
    display: none;
  }
  
.section_two_container {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  