/* -- SECTION ONE -- */

.section_one_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 90px 20px 0 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
}

.section_one_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px;
    flex-wrap: wrap;
    overflow: hidden;
}

/* -- TEXTS -- */

.text_content {
    width: 400px;
    display: flex;
    align-items: center;
    animation: fadeOut .1s ease;
    opacity: 0;
    transition: 1s all;
}

.text_content.active {
    animation: showHeaderText 1s ease .2s forwards;
}

@keyframes showHeaderText {
    from {transform: translateX(-300px);}
    to {transform: translateX(0); opacity: 1;}
}

.texts {
    margin: 0 auto;
}

.text_content h1 {
    color: #EF6461;
    font-size: 80px;
    letter-spacing: 1px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 70%;
}

.text_content h2 {
    color: #EF6461;
    font-size: 60px;
    font-weight: 200;
    letter-spacing: 15px;
    text-transform: lowercase;
}

.text_content .p_one {
    color: #EF6461;
    font-size: 41px;
    letter-spacing: 2px;
    font-weight: 400;
    line-height: 100%;
}

.text_content .p_two {
    color: #EF6461;
    font-size: 26.5px;
    letter-spacing: 3px;
    font-weight: 200;
    line-height: 200%;
}

.img_content {
    opacity: 0;
}

.img_content.active {
    animation: showHeaderImg 1s ease .2s forwards;
}

@keyframes showHeaderImg {
    from {transform: translateY(300px);}
    to {transform: translateY(0); opacity: 1;}
}

/* -- MOUSE SCROLL -- */

.scroll_content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
}

.scroll_content.active {
    animation: showScroll 1s ease .2s forwards;
}

@keyframes showScroll {
    from {}
    to {opacity: 1;}
}

.mouse_container {
    border-radius: 40% 40% 40% 40%;
    border: 3px solid #313638;
    width: 31.5px;
    height: 42px;
    position: relative;
}

.mouse_button {
    width: 4px;
    height: 6px;
    border-radius: 10px;
    background-color: #313638;
    position: absolute;
    top: 5px;
    left: 11.5px;
    animation: scrolling 2s infinite ease;
}

@keyframes scrolling {
    0% {transform: translateY(0);}
    15% {transform: translateY(4px);}
    30% {transform: translateY(0px);}
    45% {transform: translateY(4px);}
}

.mouse_text {
    font-size: 13px;
    color: #313638;
    letter-spacing: 3px;
    font-weight: 400;
}

@media only screen and (max-width: 1100px) {
    .img_content img {
        width: 300px;
    }
    .section_one_content {
        padding: 20px;
    }
    .section_one_content {
        justify-content: space-evenly;
    }
}

@media only screen and (max-width: 850px) {
    .img_content img {
        width: 250px;
    }
    .section_one_content {
        justify-content: center;
        gap: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .text_content h1 {
        font-size: 45px;
    }
    .text_content h2 {
        font-size: 24.5px;
    }
    .text_content .p_one {
        font-size: 22.2px;
    }
    .text_content .p_two {
        font-size: 13px;
    }
}







