/*--- leetcode Section ---*/

.leetcode_section {
    height: 100%;
    scroll-snap-align: center;
    max-width: 1300px;
    margin: 0 auto;
    padding: 130px 20px 20px 20px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leetcode_content {
    border-radius: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.404);
    opacity: 0;
    max-width: 700px;
    width: 100%;
    max-height: 560px;
    height: 100%;
}

.leetcode_content.active {
    display: flex;
    animation: leetShow 1s ease .2s forwards;
}

@keyframes leetShow {
    from {transform: translateY(150px);}
    to {transform: translateY(0); opacity: 1;}
}

/*--- leetcode Header ---*/

.leetcode_header {
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 10px 10px 0 0;
    background-color: rgb(255, 255, 255);
}

.leetcode_header h3 {
    font-weight: 400;
    color: rgb(35, 35, 35);
}

/*--- leetcode Body ---*/

.leetcode_body {
    height: 100%;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(240, 240, 240);
    width: 100%;
    border-radius: 0 0 10px 10px;
    padding: 40px;
    gap: 20px;
    overflow-x: auto;
}

.leetcode_user_info {
    display: flex;
    gap: 20px;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

/*--- User Status ---*/

.leetcode_user_status p {
    font-weight: 300;
    color: rgb(80, 80, 80);
}

/*--- Progress Total Solved ---*/

.total_progress_bar {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.total_progress_bar::before {
    position: absolute;
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
}

.total_progress_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
}

/*--- Progress Bar Solved Graph---*/

.solved_graph {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.312);
    border-radius: 10px;
    padding: 20px;
    width: 100%;
}

.leet_code_solved {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.graph_text {
    display: flex;
    gap: 10px;
    align-items: center;
}

.graph_text p {
    font-size: 14px;
    color: rgb(88, 88, 88);
    font-weight: 300;
}

.progress_bar {
    max-width: 600px;
    width: 100%;
    height: 4px;
    position: relative;
    border-radius: 10px
}

.easy_progress_bar {
    background-color: rgba(0, 128, 0, 0.277);
}

.easy_current_progress {
    background-color: green;
}

.medium_progress_bar {
    background-color: rgba(244, 226, 27, 0.403);
}

.hard_progress_bar {
    background-color: rgba(222, 44, 44, 0.37)
}

.current_progress {
    position: absolute;
    height: 4px;
    top: 0;
    left: 0;
    border-radius: 10px
}

@media only screen and (max-width: 400px) {
    .leet_code_body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .leetcode_body {
        padding: 20px;
        text-align: center;
    }
}